*{
    margin: 0;
    padding: 0;
}
.heading{
    background: rgb(115, 161, 222);
    color: white;
    height: 80px;
    padding-left: 25px;
    padding-top: 30px;

    
   
}
.first__div{
    border: 2px solid rgb(13, 83, 13);
    background-color: rgba(57, 171, 57, 0.419);
    width: 600px;
    height: 90px;
   margin-top: 20px;
   margin-left: 30%;
    padding: 30px 20px 20px;
    
}

.first__link{
    background-color: red;
    border: 2px solid brown;
    color: white;
    width: 250px;
    height: 60px;
    text-align: center;
    margin-top: 30px;
   margin-left: 40%;
   margin-bottom: 30px;
   padding: 15px 10px 10px;
   border-radius: 8px;
}

.first__link a{

    color: white;
}

.second__div{

    background-color: rgb(60, 58, 82) ;
    border: 2px solid rgba(21, 29, 92, 0.351);
    color: white;
    width: 100%;
    height: 150px;
    padding: 40px 20px 65px;
    

}

.end{
    background-color: rgb(41, 34, 139);
    color: rgb(82, 73, 192);
    text-align: center;
    height: 4px;
    padding: 20px 10px 20px;
}
.end a{
    color: cornflowerblue;
}